# CDK asset staging directory
.cdk.staging
cdk.out

# IDE
.idea
**/*.iml
.vscode

**/.DS_Store

# Reports and Logs
**/junit.xml
**/coverage
**/.nyc_output
reports

# Caches
.scannerwork

# Dependencies
**/node_modules
.npm

# Builds
packages/**/*.js
packages/**/*.mjs
!packages/**/jest.*.js
packages/**/*.d.ts
packages/**/*.d.mts
packages/**/build/**

# Generated
package-lock.json
lerna.json
